html {
    height: 100%;
}

html, body { 
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position: center center;
}

.clickable {
    cursor: pointer;
}

.layer {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
}

.slider.paused:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.75;
    background-image: url('../images/paused.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.slider .loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    background-image: url('../images/loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

.slider .loader,
.slider .image {
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
}

.click-it {
    display: flex;
    justify-content: center;
    align-content: center;
}
@keyframes glitterAndScale {
    0% { opacity: 0.1; transform: scale(1.0); }
    50% { opacity: 0.3; transform: scale(0.95); }
    100% { opacity: 0.1; transform: scale(1.0); }
}
.user-interaction-request {
    margin: auto;
    animation-name: glitterAndScale;
    animation-duration: 2500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.user-interaction-request:before {
    content: 'Please click or tap';
    display: block;
    font-size: 5vw;
    text-align: center;
}
.user-interaction-request:after {
    content: '';
    display: block;
    width: 310px;
    height: 512px;
    margin: auto;
    background-image: url('../images/please-click.png');
    background-repeat: no-repeat;
    background-position: center center;
}
